{
    "id":"WSU_data_flow",
    "description":"WSU Data flow analyzer",
    "creator":"WSU",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /usr/src/adms_app3/app3/runsample.py",
    "launch_on_startup":false,
    "prereqs":["gridappsd-voltage-violation","gridappsd-alarms"],
    "multiple_instances":true
}
